.user-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-radius: 0.8rem;

}


.user-card-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ccc;
    object-fit: cover;
    overflow: hidden;

}


.user-cart-infor {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    justify-content: center;

}

.destaque {
  color: #2563eb; /* azul clean */

  font-weight: 600;
}


