.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.app h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fcfffc;

}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  background-color: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  overflow: hidden;
}


/* Borda animada */
form::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: inherit;
  padding: 2px; /* espessura da borda */

  background: linear-gradient(
    90deg,
    transparent,
    #03e2ff,
    transparent,
    #f204c6,
    transparent
  );

  background-size: 400% 100%;
  animation: borderMove 18s linear infinite;

  /* Faz aparecer só a borda */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none;
}


/* Animação */
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 400% 50%;
  }
}

form input,form button {
  padding: 0.8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  border: 1px solid #fff;
}


form button {
  background: linear-gradient(135deg, #03e2ff, #f204c6);
  color: #fff;

  border: none;
  border-radius: 14px;

  padding: 0.9rem 1.6rem;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow:
    0 0 10px rgba(3,226,255,0.6),
    0 0 20px rgba(242,4,198,0.4);
}

form button:hover {
  background: linear-gradient(135deg, #f204c6, #03e2ff);
  box-shadow:
    0 0 15px rgba(242,4,198,0.8),
    0 0 30px rgba(3,226,255,0.6);
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}


